/*-------------------------------------------------*\
				1.	box 
				2.	border 
				3.	background
				4.	text
				5.	other
\*-------------------------------------------------*/
/*-------------------------------------------------*\
				BASE
\*-------------------------------------------------*/
@font-face {
    font-family: arial;
}

html,body{
	height: 100%;

	margin: 0;
	padding: 0;

	font-family: arial;
	font-size: 16px;
	line-height: 1.4rem;
}

/* scrollbar design 
.container-world::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
 
.container-world::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,1); 
    background: transparent;
}

.container-world::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
  outline: 0px solid #009688;
}
*/

/*-------------------------------------------------*\
				console
\*-------------------------------------------------*/
#console{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
	padding: 10px;
	z-index: 200000;
	color: darkgreen;
}


/*-------------------------------------------------*\
				world
\*-------------------------------------------------*/
.container-world{
	display: block;

	position: absolute;
		 overflow: auto;

	left: 0;
	right: 0;
	top: 0;
	bottom: 100px;

	background: rgba(134,174,204,1);
	background: -moz-linear-gradient(top, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(134,174,204,1)), color-stop(100%, rgba(212,228,239,1)));
	background: -webkit-linear-gradient(top, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 100%);
	background: -o-linear-gradient(top, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 100%);
	background: -ms-linear-gradient(top, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 100%);
	background: linear-gradient(to bottom, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86aecc', endColorstr='#d4e4ef', GradientType=0 );

}

.world{
	width: 2000px;
	height: 100%;
	position: relative;
	left: 0;
	top: 0;
	right: 0;

	display: block;

	border : 1px solid black;
}
/*-------------------------------------------------*\
				obstacle
\*-------------------------------------------------*/
	/*-------------------------------------------------*\
					sol
	\*-------------------------------------------------*/
	.sol{
		position: absolute;
		display: block;

		height: 2px;
		
		left: 0;
		right: 0;
		top: 70%;

		background-color: darkred;
	}
	/*-------------------------------------------------*\
					Carre
	\*-------------------------------------------------*/
	.carre{
		position: absolute;
		display: block;

		background-color: black;
		border: 1px solid white;

		width: 15px;
		height: 15px;
	}
	
/*-------------------------------------------------*\
				joueur
\*-------------------------------------------------*/
.player{
	position: absolute;
		
	background-color:#57ffd8;
	background-image: radial-gradient(50% 50%, circle closest-side, #57ffd8, #7da0ff 80%);
	background-position: center;
	width: 15px;
	height: 15px;
	display: block;

	border: 1px solid black;
	border-radius: 1px; 
}